* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  width: 100%;
  list-style: none;
  padding: 0 0.25rem 0.25rem;
}

ul li::before {
  content: "\200B";
}
.work {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 0.25rem 0;
  background-color: #eee;
}

.work:first-child {
  margin: 0;
}

.work input[type="checkbox"] {
  text-align: center;
  width: 48px;
  min-width: 48px;
  height: 48px;
  min-height: 48px;
  cursor: pointer;
  margin-right: 0.5rem;
}
.work input[type="checkbox"]:focus + label {
  text-decoration: underline;
}

/* .work > label {
  font-size: 0.75rem;
  flex-grow: 1;
} */

.work svg {
  width: 48px;
  min-width: 48px;
  height: 36px;
  font-size: 1rem;
  color: steelblue;
  cursor: pointer;
}

.work svg:focus,
.work svg:hover {
  color: red;
  outline: none;
}
